# --------------------------------------------------
# Git ignores for MVC course repo by Daniel, daap19
# --------------------------------------------------

# Ignored folders
# --------------------------------------------------
**/.bin
**/build
**/cache
**/vendor
**/sass


# Ignore all LOG files.
# --------------------------------------------------
*.log


# Ignore unit test cache file
# --------------------------------------------------
**.phpunit.result.cache
